@font-face {
    font-family: Hogata; /* Specify the desired font family name */
    src: url('../fonts/hogata.otf'); /* Path to the font file */
    
}
@font-face {
    font-family: subzero; /* Specify the desired font family name */
    src: url('../fonts/Changchangwoodcut-BL25.ttf'); /* Path to the font file */
  
}